
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>EndExam</title>
</head>
<body>
    <div> 
		Thank you for Taking the Exam
    </div>
		<input type="button" value="Done" id="back"/>
	<script>
		$('#back').click(function (e) {
			window.location.href = '/Menu';
		});
	</script>
</body>

</html>
